/*
To change this license header, choose License Headers in Project Properties#
To change this template file, choose Tools | Templates
and open the template in the editor#
*/
/* 
    Created on : Apr 5, 2018, 1:14:51 AM
    Author     : bryce
*/

html, body {
	font-family: Ubuntu, sans-serif;
	margin: 0;
	padding: 0;
}

a:visited {
	color: blue;
}

#headerContainer {
        width: 100%;
	background-color: #1c8adb;
	border-top: 5px solid #4a8ef9;
	border-bottom: 3px solid #609eff;
}

#header {
	width: 90%;
	display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
	color: white;
	height: 10%;
	margin-bottom: 10px;
        margin: 0px auto;
}

#img {
	height: 55pt;
	width: auto;
	margin-top: 10%;
}

#title {
        display: flex;
        justify-content: space-between;
}

#wallet {
        margin-top: 1%;
        margin-right: 5%;
}

#body {
	display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
	width: 100%;
        align-items: stretch;
        margin-top: 5%;
}

.sectionHead {
        width: 100%;
}

#sendBody {
        width: 100%;
        margin-top: 5%;
}

#dsktpRecBody {
        width: 100%;
        margin-top: 5%;
        word-wrap: break-word; 
}

#mobiRecBody {
        width: 100%;
        margin-top: 15%;        
}

.bodyCats {
	width: 325pt;    
	display: flex;
        justify-content: space-around;
	text-align: center;
	padding-top: 5%;
}

#send {
        flex-wrap: wrap;
}

#send h2 {
	padding-bottom: 45px;
}

#send input {
	margin: 10px;
}

#send input[type="text"] {
	width: 400px;
	text-align: center;
}

#receive a:link {
	text-decoration: none;
}

#transactionBody {
        width: 100%;
        margin-top: 15%;    
}

#ledger {
	width: 100%;
	display: inline-block;
	margin-top: 5%;
}

#ledger h2 {
	text-align: center;
}

#ledger table {
	margin: 0px auto;
	width: 100%;
	height: 84%;
	text-align: center;
}

#ledger tr:nth-child(even) {
        background-color: #dddddd;
}

#ledger th {
	border-bottom: 1px solid #bababa;
}

#ledger a:link {
	text-decoration: none;
}

/*desktop*/
@media only screen and (min-width: 769px) {
	#mobiRecBody { display: none }
}

/*mobile*/
@media only screen and (max-width: 768px) {
	#dsktpRecBody { display: none }
        #send, #receive, #transactions { border-bottom: 2px solid #609eff;
                                         padding-bottom: 10px; }
}